atomicwrites==1.2.1
attrs==18.2.0
blinker==1.4
Click==7.0
coverage==4.5.2
decorator==4.3.0
flake8==3.6.0
Flask==1.0.2
Flask-Admin==1.5.2
Flask-DebugToolbar==0.10.1
-e git+http://github.com/sjl/flask-lesscss.git@724e999f6d728be81f057ac4d5ebc8d9757b950e#egg=flask_lesscss
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask-WTF==0.14.2
infinity==1.4
intervals==0.8.1
itsdangerous==1.1.0
Jinja2==2.10
lesscss==0.1.4
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==4.3.0
passlib==1.7.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pylibmc==1.6.0
pytest==4.0.0
pytest-cov==2.6.0
six==1.11.0
talisman==0.1.0
validators==0.12.3
Werkzeug==0.14.1
WTForms==2.2.1
WTForms-Components==0.10.3
