{% extends "shop/shop.html" %}
{% block topblock %}
    <div class="mdl-grid">
        {% if items is not none %}
            {% for id, name, filename, price in items %}
                <style>
                    .demo-card-{{ id }} {
                        background: url('/static/images/items/{{ filename }}') center / cover;
                    }
                </style>
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-card mdl-shadow--2dp demo-card-{{ id }}">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">{{ name }}</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            für nur: {{ price }} ct
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cart-button" data-id="{{ id }}">
                                IN DEN WARENKORB
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block middleblock %}
{% endblock %}
{% block bottomblock %}
        <script type="text/javascript" src="/static/js/shop.js"></script>
{% endblock %}