{% extends "index.html" %}
{% block topblock %}
    <div class="mdl-grid">
        <div class=" mdl-cell mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Wearables</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Diese unglaublich gutaussehenden Geräte verschönern jedes Handgelenk!
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/shop/wear" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        WAREZ SHOP
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Smartphones</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Smartphones sind das neue Statussymbol, du solltest auch eins haben!
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/shop/phone" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        SMARTPHONE SHOP
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Tablets</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Tablets sind größere Smartphones, also bestimmt auch ein Statussymbol!
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/shop/tablet" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        TABLET SHOP
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Fernseher</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Fernseher sind wichtig, wo wollen Sie sonst denn den ganzen abend verbringen?
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/shop/tv" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        TV SHOP
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Autos</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Autos sind zwar das alte Statussymbol, aber alt ist nicht gleich schlecht.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/shop/car" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        AUTO SHOP
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block middleblock %}
{% endblock %}
{% block bottomblock %}
        <script type="text/javascript" src="/static/js/shop.js"></script>
{% endblock %}
