{% extends "index.html" %}
{% from "form_template/_formhelpers.html" import render_csrf_protect %}
{% block topblock %}
    <div class="mdl-grid chatgrid">
    <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--6-col frame">
            <ul class="mdl-list" id="chat_message_list"></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                    <div class="text text-r" style="backround:whitesmoke !important;">
                        <input class="mytext" placeholder="Schreiben Sie hier mit dem Mitarbeiter" id="message_input"/>
                    </div>
                </div>
            </div>
        </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
    </div>



{% endblock %}
{% block middleblock %}
{% endblock %}
{% block bottomblock %}
    <div class="last_message_sent_by" data-user="support"></div>
    <script src="/static/js/profile.js" type="text/javascript"></script>
    <script src="/static/js/support-chat.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/style/chat.css">
{% endblock %}
